<!DOCTYPE html>
<html>
  <head>
    <title>Simple CMS2</title>
    <%= javascript_include_tag('public') %>
  </head>
  <body>

  <!-- before yield -->
  <%= yield %>
  <!-- after yield -->
  
  </body>
</html>
